.home {
    display: flex;
}

.home .productContainer {
    margin-top: 65px;
    display: flex;
    /* margin: auto !important; */
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filters {
    margin-top: 80px !important;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 60vh;
    border-radius: 10px;
    position: sticky ;
    top: 80px;
}

.filters>span {
    display: block;
    margin-bottom: 20px;
}

.product {
    width: 30%;
    margin: 0px;
}

.cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
    width: 200px;
}

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.summary {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



span.rateStar svg {
    color: rgb(250, 172, 4)
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -125% !important;
}

.overflow-auto {
    max-height: 400px !important;
}

.up {
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    background-color: #343a40;
    color: #fff;
}

/* Media Queries */

@media (max-width: 650px) {
    .filters {
        width: 50%;
        padding: 20px;
        margin: 5px;
        height: 50vh !important;
        
    }

    .filters>span {
        font-size: 14px;
    }

    .title {
        font-size: 18px !important;
        text-align: center!important;
    }

    .productContainer {
        width: 50%!important;
        padding: 5px!important;
    }

    .search {
        /* display: none !important; */
        width: 150px!important;
        flex-grow: 1!important ;
    }

    .product {
        width: 100%;
    }

    .dropdown-menu[data-bs-popper] {
        left: -200% !important;
    }

}

@media (min-width: 652px) and (max-width: 991px) {
    .filters {
        width: 40%;
        padding: 20px;
        margin: 5px;
        height: 50vh !important;
        
    }

    .title {
        font-size: 20px !important;
    }

    .productContainer {
        width: 90%!important;
    }

    .product {
        width: 48%;
    }
}