body {
  margin: 0;
  background-color: #ddd;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

/* input.form-control {
  width: 50% !important;
} */

/* .dropdown-menu[data-bs-popper] {
  top: 100% !important;
  right: 0 !important;
  margin-top: var(--bs-dropdown-spacer) !important;
} */
